/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */



/* ==========================================================================
   Colors and dimens from theme (for use it for example: background-color: var(--bs-light);)
   ========================================================================== */
:root{
  --bs-primary-rgb: 86, 83, 211 !important;
  --md_theme_light_primary:#B72301 !important;
  --md_theme_light_onPrimary:#FFFFFF !important;
  --md_theme_light_primaryContainer:#FFDAD3 !important;
  --md_theme_light_onPrimaryContainer:#3D0600 !important;
  --md_theme_light_secondary:#BE0036 !important;
  --md_theme_light_onSecondary:#FFFFFF !important;
  --md_theme_light_secondaryContainer:#FFDADA !important;
  --md_theme_light_onSecondaryContainer:#40000C !important;
  --md_theme_light_tertiary:#AE2954 !important;
  --md_theme_light_onTertiary:#FFFFFF !important;
  --md_theme_light_tertiaryContainer:#FFD9DF !important;
  --md_theme_light_onTertiaryContainer:#3F0017 !important;
  --md_theme_light_error:#BA1A1A !important;
  --md_theme_light_errorContainer:#FFDAD6 !important;
  --md_theme_light_onError:#FFFFFF !important;
  --md_theme_light_onErrorContainer:#410002 !important;
  --md_theme_light_background:#FFFBFF !important;
  --md_theme_light_onBackground:#201A19 !important;
  --md_theme_light_surface:#FFFBFF !important;
  --md_theme_light_onSurface:#201A19 !important;
  --md_theme_light_surfaceVariant:#F5DDD8 !important;
  --md_theme_light_onSurfaceVariant:#534340 !important;
  --md_theme_light_outline:#85736F !important;
  --md_theme_light_inverseOnSurface:#FBEEEB !important;
  --md_theme_light_inverseSurface:#362F2D !important;
  --md_theme_light_inversePrimary:#FFB4A4 !important;
  --text_s:14px !important;
  --text_m:16px !important;
  --text_h:18px !important;
  --md_theme_dark_primary:#FF6747 !important;
  --md_theme_dark_onPrimary:#630E00 !important;
  --md_theme_dark_primaryContainer:#8C1800 !important;
  --md_theme_dark_onPrimaryContainer:#FFDAD3 !important;
  --md_theme_dark_secondary:#FFB3B6 !important;
  --md_theme_dark_onSecondary:#680019 !important;
  --md_theme_dark_secondaryContainer:#920027 !important;
  --md_theme_dark_onSecondaryContainer:#FFDADA !important;
  --md_theme_dark_tertiary:#FD6A86 !important;
  --md_theme_dark_onTertiary:#660029 !important;
  --md_theme_dark_tertiaryContainer:#8E093D !important;
  --md_theme_dark_onTertiaryContainer:#FFD9DF !important;
  --md_theme_dark_error:#FF8E80 !important;
  --md_theme_dark_errorContainer:#93000A !important;
  --md_theme_dark_onError:#690005 !important;
  --md_theme_dark_onErrorContainer:#FFDAD6 !important;
  --md_theme_dark_background:#201A19 !important;
  --md_theme_dark_onBackground:#EDE0DD !important;
  --md_theme_dark_surface:#201A19 !important;
  --md_theme_dark_onSurface:#EDE0DD !important;
  --md_theme_dark_surfaceVariant:#534340 !important;
  --md_theme_dark_onSurfaceVariant:#D8C2BD !important;
  --md_theme_dark_outline:#A08C88 !important;
  --md_theme_dark_inverseOnSurface:#201A19 !important;
  --md_theme_dark_inverseSurface:#EDE0DD !important;
  --md_theme_dark_inversePrimary:#B72301 !important;
}





/* ==========================================================================
   Your code for devices with over than 600px (PC)
   ========================================================================== */
   *{
      box-sizing: border-box;
      padding: 0;
      margin: 0;
   }   
   
   html {
      font-size: 62,5%;
   }
   
   body{
      background-color: var(--md_theme_dark_background) !important;
      height: 100vh;
        }
   header{
      background-color: var(--md_theme_dark_primary);
      color: var(--md_theme_dark_onPrimary);
      font-family: Arial, Helvetica, sans-serif;
      display: flex;
      align-items: center;
      justify-content: start;  
    }
    header figure{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    header img{
      display: flex;
      align-items: center;
      margin: 0.7rem 0 0 0.2rem;
      width: 1.8rem;
      height: 1.8rem;
    }
    header h2{
      display: flex;
      align-items: center;
      justify-content: start;
      width: 85%;
      margin: 0.7rem auto 0.7rem 0.5rem;
      font-size: var(--text_h);
    }
    main{
      background-color: var(--md_theme_dark_primary);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: Arial, Helvetica, sans-serif;
      border-radius: 1rem;
      margin: 1.2rem;
    }
    main img{
      width: 4.5rem;
      height: 4.5rem;
      margin-bottom: 0;
      border-radius: 0.8rem;
      margin: 1rem auto;
    }
    main h4{
      margin-bottom: 0;
      font-size: var(--text_s);
      font-weight: 600;
    }
    main p{
      font-size: var(--text_s);
    }

    .contact-dev{
      background-color: var(--md_theme_light_inverseSurface);
      margin: 1.2rem;
      border-radius: 1rem;
      padding: 1rem;
      font-family: Arial, Helvetica, sans-serif;
    }
    .contact-devItems{
      display: flex;
      margin-top: 0.3rem;
      margin-bottom: 0.3rem;
    }
    .contact-devItems p{
      color: var(--md_theme_dark_inverseSurface);
      margin-left: 0.4rem;
      text-align: center;
      margin-bottom: 0;
      font-size: var(--text_s);
    }
    .contact-devItems a{
      color: var(--md_theme_dark_primary);
      margin-left: 0.4rem;
    }
    .contact-devItems img{
      opacity: 0.9;
    }
    .mision{
      background-color: var(--md_theme_light_inverseSurface);
      margin: 1.2rem;
      border-radius: 1rem;
      padding: 0.5rem 1rem 0.1rem 1rem;
      font-family: Arial, Helvetica, sans-serif;
      text-align: justify;  
    }
    .h4-mision{
      color: var(--md_theme_dark_inverseSurface);
      font-size: var(--text_h);
      font-weight: 600;
    }
    .p-mision{
      color: var(--md_theme_dark_inverseSurface);
      font-size: var(--text_s);
    }
/* ==========================================================================
   End of your code for devices with over than 600px (PC)
   ========================================================================== */




/* ==========================================================================
   Your code for devices with less than 600px (Mobile)
   ========================================================================== */
@media only screen and (max-width: 600px) {




}
/* ==========================================================================
   End of your code for devices with less than 600px (Mobile)
   ========================================================================== */
